/*@import url{"https://fonts.googleapis.com/csss?family=Lato:400,700"};*/

/*Use the pseudo class root to select the high level parent*/
:root{
	--primaryColor: #0e3e66;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacint: 0.1rem;
	--mainTransition: all 0.3s linear;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*suposedly the border-box stop elements from growing if padding is added*/

}

body{
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: "Lato, sans-serif";
}

.navbar{
	position: sticky;/* this makes the bar static when scrolls */ 
	top: 0;
	height: 85px;
	width: 100%;
	display: flex;
	align-items: center;
	background: rgb(223,219,229);
	background-image: url("/images2/background.png");
	z-index: 1;/* isso provavelente permite que a barra sobreponha outros elementos da pagina*/



}

.navbar-center img{
	border-radius: 3rem;
}

.navbar-center{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.nav-icon{
	font-size: 1.rem;
}

.cart-btn{
	position:  relative;
	cursor:  pointer;
}

.cart-items{
	position:  absolute;
	top:  -8px;
	right: -8px;
	background: var(--primaryColor);
	padding:  0 5px;
	border-radius: 30%;
	color:  var(--mainWhite);
}

/*central banner*/

.hero{
	  min-height: calc(100vh - 60px);
  	background: url("./images2/background2.jpg") center/cover no-repeat;
  	display: flex;
	align-items: center;
	justify-content: center;

}

.banner{
	text-align: center;
	background: rgba(255,255,255,0.8);
	display: inline-block;
	padding:  2rem;
}

.banner-title{
	font-size: 3.4rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacint);
	margin-bottom: 3rem;

}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1.5rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);/* this property configures the time of the hoover event*/
  cursor: pointer;
  font-family: "Helvetica,Lato";
}

.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}


.products{
	padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.products-center{
	width:  90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;

}

.img-container{
	position:  relative;
	overflow: hidden;
}


.bag-btn{
	position:  absolute;/*position is set to absolute so it can superpose the image*/
	top: 55%;
	right:  0;
	background: var(--primaryColor);
	border:  none;
	text-transform: uppercase;
	padding: 0.5rem 0.75rem;
	letter-spacing: var(--mainSpacing);
	font-weight: bold;
	transition: var(--mainTransition);
	transform: translateX(101%); 
	/*this translate the element to the right, because the overflow is hidden*/
	/*the element does not appear */
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
  /*this translate the element back to original position*/
}

.product-img{
	display: block;
	width: 100%;
	min-height: 12rem;
	max-height: 12rem;
	transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3{
	  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

	/*---------------------------------cart-------------------------------------*/

.cart-overlay{
	position:  fixed;
	top:  0;
	right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart{
	position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-btn {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/*cart item*/

.cart-item{
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	margin:  1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4{
	 font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */


/*clear cart button*/

.clear-cart{
	margin-top: 1.2rem;
	padding: 1.1rem;
	width: 190px;
	border: none;
	background: var(--primaryColor);
	transition: var(--mainTransition);
  font-size: 1rem;
  font-family: "helvetica, lato";
  color: var(--mainWhite);
  /*font-weight: bold;*/
  letter-spacing: var(--mainSpacint);
  border: 1px solid var(--primaryColor);
}

.clear-cart:hover{
	cursor: pointer;
	background: transparent;
  color: var(--primaryColor);
}

.menu{
	position: fixed;
	top:  0;
	width: 20%;
	height: 100%;
	z-index: 4;
	left: 0;
	margin-right: 50%;
  background: rgb(231, 226, 221);
	/*visibility: hidden;*/
	transform: translateX(-100%);
	transition: var(--mainTransition);
}

.showMenu{
	transform: translateX(0);
}

.nav-icon{
	cursor: pointer;
}

.menu section{
	font-family: "Helvetica";
	font-size: 1.3rem;
	color: var(--mainBlack);
	border-radius: 6px;
}

section a{
	text-decoration: none;
	color: var(--mainBlack);
	margin-left: 10px;
}


.menu-item:hover{
	background: var(--primaryColor);
	color: var(--mainWhite);
}

.menu-item:hover a{
	color: var(--mainWhite);
}

.hide-menu{
	background: var(--mainBlack);
	width: 100%;
	padding: 10px ;
	border-radius: 0px;
	cursor: pointer;
}

.hide-menu i{
	color: var(--mainWhite);
	cursor: pointer;
}

.footer-btns{
	display: flex;
	flex-direction: row;
}

.finish-shopping{
	
	margin-left: .5rem;
	margin-top: 1.2rem;
	padding: 1.1rem;
	width: 190px;
	border: none;
	background: var(--primaryColor);
	transition: var(--mainTransition);
  font-size: 1rem;
  font-family: "helvetica, lato";
  color: var(--mainWhite);
  /*font-weight: bold;*/
  letter-spacing: var(--mainSpacint);
  border: 1px solid var(--primaryColor);
}

.finish-shopping:hover{
	cursor: pointer;
	background: transparent;
  	color: var(--primaryColor);
}

.disabled-button{
	background: transparent;
	color: var(--primaryColor);
}
.disabled-button:hover{
	cursor: unset;
}
