:root{
	--primaryColor: #0e3e66;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacint: 0.1rem;
	--mainTransition: all 0.3s linear;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*suposedly the border-box stop elements from growing if padding is added*/

}

body{
    background-color: #0e3e66;
}


.navbar{
	position: sticky;/* this makes the bar static when scrolls */ 
	top: 0;
	height: 85px;
	width: 100%;
	display: flex;
	align-items: center;
	background: rgb(223,219,229);
	background-image: url("/images2/background.png");
	z-index: 1;/* isso provavelente permite que a barra sobreponha outros elementos da pagina*/
}

.navbar-center img{
	border-radius: 3rem;
}
.nav-icon{
	cursor: pointer;
}


.navbar-center{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
}
.hide-menu{
	background: var(--mainBlack);
	width: 100%;
	padding: 10px ;
	border-radius: 0px;
	cursor: pointer;
}

.hide-menu i{
	color: var(--mainWhite);
	cursor: pointer;
}



.menu{
	position: fixed;
	top:  0;
	width: 20%;
	height: 100%;
	z-index: 4;
	left: 0;
	margin-right: 50%;
  background: rgb(231, 226, 221);
  visibility: hidden;
  transform: translateX(-100%);
	transition: var(--mainTransition);
}

.showMenu{
	transform: translateX(0);
    visibility: visible;
}

.div-master{
    margin-top: 2rem;
}
.main-container{
    position: relative;
    border-radius: 3%;
    border: 2px solid var(--mainBlack);
    margin-top:0;
    margin-left: 12rem;
    margin-right: 12rem;
    background-color: var(--mainGrey);
    padding: 10px;
   
}

.main-container h2{
    margin: 1.5rem;
}

.main-container h3{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.payment-method{
    background: transparent;
    border-radius: 5px;
    color: var(--primaryColor);
    height: 3rem;
    font-size: 1.5rem;
    margin: 10px;
    transition: var(--mainTransition);
    
}

.payment-method:hover{
    background: transparent;
    border: 1px solid var(--primaryColor);
    cursor: pointer;
    margin-left: 1rem;
}

.payment-selected{
    border: 1px solid #0e3e66;
    margin-left: 1rem;
    background-color: darkgray;
}


.payment-selected:hover{
    border: 1px solid #0e3e66;
    margin-left: 1rem;
    background-color: darkgray;
}

.payment-container{
    display: flex;
    padding-top: .5rem;
    padding-left: .5rem;
}

@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}

.information-banner{
    width: 20rem;
    position: absolute;
    left: 19rem;
    background: silver;
    border-radius: 3rem;
    padding: .25rem 2rem;
    animation: fadeIn 0.8s
}
.information-banner p{
    font-size: .8rem;
    font-family: helvetica;
    position: relative;
    animation: fadeIn 0.8s;
    text-align: justify;
    text-justify: inter-word;

}

.hidden{
    visibility: hidden;
    animation: fadeIn 0.8s;
    transition: var(--mainTransition);
}
.paypal-image{
    max-width: 30px;
    margin-right: 10px;
}

.payment-footer{
    display: flex;
    justify-content: right;
}

.payment-footer button{
    margin-left: 1rem;
    margin-right: 1rem;
}
.payment-methods{
    list-style: none;
}

.user-total-container{
    display: flex;
    justify-content: right;
}

.user-total-container span{
    margin: 1rem;
}

.finish-payment{
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    padding: 1.1rem;
	width: 190px;
	background: var(--primaryColor);
	transition: var(--mainTransition);
  font-size: 1rem;
  font-family: "helvetica, lato";
  color: var(--mainWhite);
  /*font-weight: bold;*/
  letter-spacing: var(--mainSpacint);
  border: 1px solid var(--primaryColor);
}

.finish-payment:hover{
	cursor: pointer;
	background: transparent;
  color: var(--primaryColor);
}

.cancel-payment{
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    padding: 1.1rem;
	width: 190px;
	background: var(--primaryColor);
    transition: var(--mainTransition);
  font-size: 1rem;
  font-family: "helvetica, lato";
  color: var(--mainWhite);
  /*font-weight: bold;*/
  letter-spacing: var(--mainSpacint);
  border: 1px solid var(--primaryColor);
}

.cancel-payment:hover{
	cursor: pointer;
	background: transparent;
  color: var(--primaryColor);
}

.user-total-container span{
    font-size: 1.5rem;
}

.shopping-item{
    margin-left: 1rem;
    display: flex;
    margin-top: 1rem;
    border: 1px solid var(--primaryColor);
    padding: 0.8rem;
    margin-right: 1rem;
}
    
.item-name{
    margin-left: 2rem;
}

.item-info{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
   
}

.qtde{
    display: flex;
    justify-self: right;
}
.items-list{
    max-height: 350px;
    overflow: scroll;
}

.img-container{
    position: relative;

    box-sizing: border-box;

}

.img-container img{
    width: 75px;
    height: 75px;
}

.user-total{
    margin-right: 2rem;
    padding-right: 30px;
}

.botao-final{
    margin: .4rem .6rem;
}

.width-re{
    border-radius: 1rem;
    margin-left: 20rem;
    max-width: 40rem;
}

.confirm-text{
    margin: auto 1rem;
}